<!DOCTYPE html>
<html>
<head>


    <title>Signo Web - SoftVote</title>
    <!-- cdn Font awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.css" integrity="sha512-4wfcoXlib1Aq0mUtsLLM74SZtmB73VHTafZAvxIp/Wk9u1PpIsrfmTvK0+yKetghCL8SHlZbMyEcV8Z21v42UQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.js" integrity="sha512-AsoAG+OFcSvtqlspW166UTUYg7F4GEu0yNhzTIRfOGysIQA8Dqk1WZwyoN4eX6mX4DaSk703Q1iM0M47rw25Kw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- cdn google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet"> 

    <link href="css/cadastro.css" rel="stylesheet">

</head>
<body>
    <div class="container">
        <div class="div-style">
            <div class="div-cadastro">          
                <form action="/cadastrar" method="POST">
                    <br>
                    <i class="fab fa-angellist fa-3x"></i>
                    <h1 class="style-title-h1">Cadastro</h1>
                    <br>
                    <div>
                        <% if(validacao.length > 0) {%>
                            <div class="div-container-erro">
                                <div class="div-style-erro">
                                    <div class="div-erro">
                                        <strong>Atenção!</strong>
                                        <ul>
                                            <% for(var i = 0; i < validacao.length; i++) { %>
                                                <li><%=validacao[i].msg%></li>
                                            <% } %>
                                        </ul>   
                                    </div>
                                </div>
                            </div>
                        <% } %>
                    </div>
                    <br>
                    <div>
                        <input type="email" id="email" name="email" class="input-one"  placeholder="name@example.com">
                    </div>

                    <div>
                        <input type="password" id="password" name="password" class="input-two"  placeholder="Password">
                    </div>
                    <br><br>
                    <button type="submit" class="button">Cadastrar</button>
                </form>
            </div>
        </div>
    </div> 
</body>
</html> 